export const ENV = '';

export const VERSION = '';

export const API = {
    prod: '',
    stage: '',
    qa: '',
    dev: '',
    local: '',
};

export const SUPER_HERO = {
    prod: {
        url: '',
        accessKey: ''
    },
    stage: {
        url: '',
        accessKey: ''
    },
    qa: {
        url: '',
        accessKey: ''
    },
    dev: {
        url: '',
        accessKey: ''
    },
    local: {
        url: '',
        accessKey: ''
    },
};
